$header-background-color: rgba(254, 177, 219, 0.7);
$guest-history-background: rgba(255, 137, 104, 0.7); 
$guest-history-border: rgb(255, 72, 0);
$manager-border: 2px solid rgb(0, 81, 255);
$box-shadow: 0 10px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.22);
$guest-booking-background:  rgba(226, 105, 105, 0.7); 
$hotel-info-background: rgba(108, 221, 224, 0.7);
$manager-booking-background: rgba(104, 164, 255, 0.7); 
$lighter-backgrounds: rgba(219, 219, 219, 0.445);
$button-radius: 15px;